* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', serif;
}

header {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  position: fixed;
  height: 50px;
  top: 0;
  z-index: 9999;
  box-shadow: 3px 3px 5px 1px #ccc;
}

.toggle {
  margin-top: 15px;
  margin-right: 20px;
}

.toggle a {
  margin-left: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-container {
  flex: 1;
}

.border-left {
  height: inherit;
  border: 1px solid grey;
}

#logo {
  width: 80px;
  height: 50px;
}

.fa-bars {
  color: orange;
}

main {
  width: 100%;
}

.header-images-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 50px;
}

.big-container > div {
 margin-top: 25%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .big-container h2 {
    margin-bottom: 10px;
  }
  .big-container p {
    color: grey;

  }
  .container1 {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../assert/images/header_image1.png');

    /* background-image: url('../assert/images/header_image1.png'); */
  }
  .container > div {
    /* position: relative; */
    padding: 20px;
  }
  
  .container p {
    color: lightgrey;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .container2 {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../assert/images/header_image2.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
  }
  .container3 {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../assert/images/header_image3.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    /* background-color: black; */
    margin: 10px;
  }
  .container {
    /* background-image: linear-gradient(rgb(245, 228, 228), grey); */

  }
  .latest-container {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
  
  }
  .latest-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  
  }
  .latest-item > div {
    /* margin-left: 20px; */
  }
  .latest-image {
    width: 125px;
    height: 125px;
  }
  .latest-h2{
    font-size: 1.5rem; 
    margin-bottom: 20px;
  }
  .latest-p{
    color: grey;
    font-size: 1.2rem;
  }
  
  img {
    width: 100%;
  }
  
  .index-sub-container {
    display: flex;
    flex-direction: column;
    height: 42vh;
    margin: 10px;
    /* border: 0.5px solid lightgray; */
  }
  .sub-item-contain {
    height: 250px;
    margin-bottom: 10px;
  }
  .lower-block > p:nth-child(1) {
    margin-bottom: 5px;
  }
  .lower-block > p:nth-child(2) {
    margin-bottom: 20px;
  }
  .lower-block > hr {
    background-color: rgb(240, 166, 178);
  }
  .lower-block > p > i {
    margin-right: 10px;
  }
  .middle-block > div > p:nth-child(1) {
    font-size: 1rem;
    font-weight: 900;
  }
  .middle-block > div > p:nth-child(2) {
    font-size: 0.8rem;
    color: grey;
    /* font-weight: 900; */
  }
  .sub-item-contain > div:nth-child(1) {
    width: 100%;
    height: 50px;
    z-index: -1;
    background-color: #f42;
  }
  .sub-item-contain > div:nth-child(2) {
    width: 100%;
    height: 90px;
    background-color:rgba(255,68,34,.08);
  }
  
  .sub-item-contain > div:nth-child(3) {
    width: 100%;
    height: 150px;
    background-color: white;
  }
  .index-main>*{
    font-size: 2rem; 
    color: rgb(255, 0, 0); 
    margin-bottom: 25px;
  }
  .upper-block p{
    margin-left: 100px; 
    color: white; 
    position: relative; 
    padding: 12px; 
    font-size: 1.5rem; 
    font-weight: bolder;
  }
  .upper-block>img {
    width: 70px;
    height: 70px;
    margin: 20px;
    position: absolute;
  }
  .middle-block>div{
    margin-left: 100px; 
    padding-top: 20px;
  }
  .middle-block>div>strong{
    font-size: 1.5rem
  }
  .middle-block>div>p{
    font-size: 16px;
  }
  .lower-block{ 
    padding-top: 20px; 
    line-height: 1.5rem;
  }
  .lower-block>p{
    padding-left:40px; 
  }
  .discription{
    font-size: .8rem;
  }
  .lower-block>hr{
    width: 100%;
    color:  rgba(255, 0, 0,.9); ;
  }
  /* card contianer */
  .card-image{
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image1.png'); */

  }
  .card1 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image1.png');
  }
  .card2 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image2.png');
  }
  .card3 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image10.png');
  }
  .card4 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image4.png');
  }
  
  .card5 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image5.png');
  }
  .card6 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assert/images/image10.png');
  }

  .card7 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image11.png');
  }
  .card8 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image8.png');
  }
  .card9 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assert/images/image9.png');
  }
  .card-image > div {
    margin-top: 20%;
    padding: 20px;
  }
  .card-image > h2  {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .card-image > p {
    color: lightgrey;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .card-container{
    margin: 10px;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: center;
    margin: 10px auto;
  }
  .sub-card-image{
    width: 210px;
    height: 110px;
    overflow: hidden;
  }
  .sub-card-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color:rgba(255,68,34,.08);
  }
  .sub-header-card{
    font-size: 10px;
    color: #f42;
  }
  .card-image>div>h2{
    position: relative;
    z-index: 100;
    left: 10px;
    top: 215px;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  .card-image>div>p{
    position: relative;
    z-index: 100;
    left: 10px;
    top: 205px;
  }
  .sub-header-card>h2{
    font-weight: 900;
    font-size: 25px;
    padding: 10px;
  }
  .card-point{
    line-height: 3rem;
    font-size: small;
    list-style: circle;
  }
  .card-point>ul>hr{
    width: 100%;
    color: lightgray;
  }
  li::before {
    content: "•"; 
    color: red;
    margin-right: 3px;
  }
  li {
    /* text-align: flex-start; */
  }
  li >div::before {
    height: 10px;
    content: "•"; 
    color: red;
    margin-right: 3px;
    border: 1px solid black;
  }

  /* footer */
  footer{
    height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .upper_container{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131313;
  }
  .lower_container{
    height: 15vh;
    text-align: center;
    background-color: black;
    color: white;
  }
  .social_icon{
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: large;
    color: white;
  }
  .social_icon>div{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 15px;
  }
  .social_icon>div>a>i{
    margin: 15px;
    color: white;
  }
  
  .footer_links{
    text-align: center;
    margin: 10px;
  }
  .footer_links>a{
    text-decoration: none;
    color: lightgray;
    margin: 10px;
  }
  .lower_container>div{
    width: 50%;
    margin: 15px auto;
  }
  .index-link{
    display: flex;
    flex-direction: column;
  }
  .index-link>a{
    margin: 10px;
    text-decoration: none;
    color:#f42
  }

  @media (min-width:770px){
    .header-images-container {
      height: 500px;
      max-width: 100vw;
      display: grid;
      grid-template-columns: 70% 1fr;
      grid-template-rows: repeat(2,30%);
    }
    .container1 {
      grid-area: 1/1/3/2;
      height: 425px;
    }
    .container-display{
      grid-area: 1/2/2/3;
      display: grid;
      grid-template-rows: repeat(2,1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .container2{
      grid-area: 1/2/2/3;
      height: calc(405px/2);
    }
    .container3{
      grid-area: 2/2/3/3;
      height: calc(405px/2);
    }
    .container > div {
      margin-top: 60px;
    }
    .container > div h2 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    .container > div p {
      font-size: 14px;
      color: grey;
      font-weight: bold;
    }
    .big-container > div {
      margin-top: 17rem;
      padding-left: 20px;
      padding-right: 20px;
    }
    .big-container h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .big-container p {
      font-size: 14px;
      color: grey;
      font-weight: bold;
    }
    .hidden-desktop{
      display: none;
    }
    .navigation-link{
      display: block;
      height: 48px;
      letter-spacing: .04em;
      line-height: 1;
      padding: 18px 10px 0;
      display: block;
      height: 48px;
      letter-spacing: .04em;
      line-height: 1;
      padding: 18px 10px 0;
    }
    .navigation-link>a{
      padding-left: 20px;
      color: gray;
      text-decoration: none;
      font-size: 15px;
      font-weight: 700;
    }

    /* Latest New */
    .latest-news {
      z-index: 2;
      max-width: 1300px;
      margin: 0 auto;
    }
    .latest-item > div {
      cursor: pointer;
    }
    .latest-news > h2 {
      padding-left: 10px;
      position: relative;
      font-weight: 900;
      font-size: 2rem; 
      color: rgb(255, 0, 0); 
      margin-bottom: 25px;
    }
    .latest-container{
      max-width: 2000px;
      flex-wrap: wrap;
      flex-direction: row;
      margin-right: 10px;
    }
    .latest-item{
      max-width: 300px;
      display: inline-block;
      margin-left: 10px;
    }
    .latest-image{
      width: 100%;
      height: 50%;
    }
    .latest-h2{
      font-size: 15px;
      line-height: 1.5rem;
      margin-left: 0;
      font-weight: 900;
      font-size: 1.1rem;
    }
    .latest-p{
      font-size: 10px;
    }
  
    /* index.Co latest funding */
    .index-co-container{
      flex-direction: row;
      z-index: 2;
      max-width: 1300px;
      margin: 0 auto;
    }
    .index-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .index-main>h2{
      padding-left: 20px;
    }
    .index-link{
      display: inline-block;
    }
    .index-full-container{
      display: flex;
      flex-basis: 25%;
      max-width: calc(1/4);
      padding-bottom: 50px;
    }
    /* card section */
    .card-container{
      display: flex;
      flex-wrap: wrap;
      /* border: 10px solid red; */
      max-width: 90%;
      margin: 40px auto;
    }
    .card{
      max-width: calc(90%/3);
      margin: 10px;
      /* border: 1px solid black; */
      max-height: 100vh;
    }
    .card-image>div>h2{
      position: relative;
      z-index: 100;
      font-size: 18px;
      font-weight: 700;
      color: white;
      top: 18px;
      left: 0;
    }
    .card-image>div>p{
      position: relative;
      z-index: 100;
      left: 0px;
      top: 15px;
      color: black;
    }
    .index-main>h2{
      padding-left: 0;
    }
    .sub-card-container{
      width: 100%;
      margin: 0 auto;
      background-color:rgba(255,68,34,.08);
    }
    .sub-header-card>h2{
      font-size: 15px;
      color: #f42;
    }
    .sub-card-image{
      padding: 2px;
      padding-bottom: 0;
      height: auto;
    }
    .card-point>ul{
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 1.2rem;
      font-size: small;
      list-style: none;
      list-style: #f42;
    }
    .card-point>ul>li{
      border: 1px solid red;
    }
    .card-point>ul>li>p{
      text-align: justify;
      margin-left: 10px; 
    }
    .card-point>ul>hr{
      width: 100%;
      color: lightgray;
      height: 0.2px;
    }
}
@media (max-width: 770px) {
  .container h2  {
    font-size: 2rem;
    margin-top: 9rem;
    margin-bottom: 15px;
  }
  .latest-item > div {
    margin-left: 20px;
  }
  .hidden-mobile{
    display: none;
  }
}