* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', serif;
}

/* navigation bar */

.navigation-bar {
  /* display: flex;   */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  background-color: #eee;
}

.navigation-bar>* {
}

.left-container > img{
  width: 90px;
  height: 60px;
}

.right-container {
  float: right;
}

.right-container>* {
}

/* header */

.header-images-container {}

.image-container>img {
}

.image-caption {
}